body{
    background: lightyellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background: pink;
    margin: 20px;
    box-shadow: bisque;
}

.add-btn{
    background: lightblue;
    width: 40px;
    height: 40px;
}
.app-title{
    text-align: center;
    color: lightblue;
    font-size: 70px;
}
.container{
    border: 5px solid pink;
    border-radius: 25px;
    padding: 30px;
    text-align: left;
    max-width: 500;
    margin: auto;
}
